pipeline/Metadata Driven Bronze to Silver Pipeline.json
{
	"name": "Metadata Driven Bronze to Silver Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Pipelines",
				"description": "Returns all pipelines from the metadata to be executed within a given processing stage.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[get_job_metadata]",
						"storedProcedureParameters": {
							"jobName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.jobName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azsql_table",
						"type": "DatasetReference",
						"parameters": {
							"serverName": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"databaseName": {
								"value": "@pipeline().parameters.databaseName",
								"type": "Expression"
							},
							"userName": {
								"value": "@pipeline().parameters.userName",
								"type": "Expression"
							},
							"secretNamePassword": {
								"value": "@pipeline().parameters.secretNamePassword",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipelines",
				"description": "Second level ForEach to run in parallel all pipelines within the stage. Items for iteration passed from the Get Pipelines lookup activity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Pipelines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('Get Pipelines').output.value[0].metadata).transformPipeline",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Load Data from Bronze to Silver",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/mraileanu@microsoft.com/databricks/ETL Framework/operators/bronze_to_silver",
								"baseParameters": {
									"bronzeTableName": {
										"value": "@item().config.bronzeTableName",
										"type": "Expression"
									},
									"silverTableName": {
										"value": "@item().config.tableName",
										"type": "Expression"
									},
									"pipelineName": {
										"value": "@item().name",
										"type": "Expression"
									},
									"fileName": {
										"value": "@item().config.fileName",
										"type": "Expression"
									},
									"fileType": "parquet",
									"silverFilePath": {
										"value": "@replace(replace(replace(replace(replace(json(activity('Get Pipelines').output.value[0].metadata).silverConnection.config.filePath, '{dataset}', item().config.dataset), '{source}', toLower(json(activity('Get Pipelines').output.value[0].metadata).sourceConnection.connectionType)), 'YYYY', substring(pipeline().parameters.windowStartTime, 0, 4)), 'MM', substring(pipeline().parameters.windowStartTime, 4, 2)), 'DD', substring(pipeline().parameters.windowStartTime, 6, 2))",
										"type": "Expression"
									},
									"silverContainer": {
										"value": "@json(activity('Get Pipelines').output.value[0].metadata).silverConnection.config.container",
										"type": "Expression"
									},
									"bronzeContainer": {
										"value": "@json(activity('Get Pipelines').output.value[0].metadata).bronzeConnection.config.container",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azdatabricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"databricksWorskpaceURL": {
										"value": "@json(activity('Get Pipelines').output.value[0].metadata).databricksConnection.config.databricksWorskpaceURL",
										"type": "Expression"
									},
									"secretNameDatabricksToken": {
										"value": "@json(activity('Get Pipelines').output.value[0].metadata).databricksConnection.config.secretNameDatabricksToken",
										"type": "Expression"
									},
									"databricksClusterID": {
										"value": "@json(activity('Get Pipelines').output.value[0].metadata).databricksConnection.config.databricksClusterID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"jobName": {
				"type": "string",
				"defaultValue": "Load MySQL"
			},
			"windowStartTime": {
				"type": "string",
				"defaultValue": "20220706"
			},
			"serverName": {
				"type": "string"
			},
			"databaseName": {
				"type": "string"
			},
			"userName": {
				"type": "string"
			},
			"secretNamePassword": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-08T11:53:19Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}