pipeline/Terminate Databricks Cluster.json
{
	"name": "Terminate Databricks Cluster",
	"properties": {
		"activities": [
			{
				"name": "Terminate Databricks Cluster",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Databricks Token",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Databricks Workspace URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{activity('Get Databricks Workspace URL').output.value}/api/2.0/clusters/delete",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "Bearer @{activity('Get Databricks Token').output.value}",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\"cluster_id\":\"@{pipeline().parameters.cluster_id}\"}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Databricks Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://azkeyvaultglsah.vault.azure.net/secrets/databrickstoken/9c0bf416a6c24d83bf226973dcc656d8?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Databricks Workspace URL",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://azkeyvaultglsah.vault.azure.net/secrets/databricksworkspaceurl/a0ffb9bd838f4b71a821790eaa2bea40?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"cluster_id": {
				"type": "string"
			}
		},
		"folder": {
			"name": "utils"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-24T05:38:19Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}